<!DOCTYPE html>
<html>
<head>

<title>Sistema de Citas Médicas</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<div class="titulo">
Formulario de Citas Web
</div>

<form action="/registrar" method="POST">

<label>Apellidos</label>
<input type="text" name="paciente" placeholder="Escriba sus apellidos" required>

<label>Nombres</label>
<input type="text" name="medico" placeholder="Escriba sus nombres" required>

<label>Especialidad</label>

<select name="especialidad">

<option>Medicina General</option>
<option>Odontología</option>
<option>Cardiología</option>

</select>

<label>Fecha</label>

<input type="date" name="fecha" required>

<button type="submit">

Registrar Cita

</button>

</form>

</div>

</body>
</html>